<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>

    <div class="main-content">
        {{>header}}
        <p>This site was created by Shashank Ravikumar using the APIs from WeatherStack.com and MapBox.com</p>
        <img src="/img/IMG-20200222-WA0001.jpg" alt="">
    </div>

    {{>footer}}
</body>
</html>