<header>
    <div class="weather-icon">
        <img src="/img/weather.png" alt="icon" class="icon"> 
        <h1>{{title}}</h1>
    </div>
   
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>